.hero {
    margin-bottom: 3rem;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content {
    direction: rtl;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.content p {
    margin-bottom: 1rem;
}

.cta-btn:hover {
    filter: brightness(0.75) !important;
}